In [2]:
import pandas as pd
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv("ventas_retail_1M.csv")
df

,id_transaccion,id_producto,nombre_producto,precio,id_tienda,nombre_tienda,categoria_tienda,ciudad,fecha
0,1,63,Salsa Bufalo,23.1,6,City Market,Premium,CANCUN,2025-10-27
1,2,32,NaN,9.49,5,Chedraui,Autoservicio,PUEBLA,2025-12-27
2,3,77,Cereal Choco Krispis,53.36,2,Sam's Club,Mayoreo,PUEBLA,2025-11-09
3,4,45,Mix de Nueces Member's Mark,88.14,7,La Comer,Premium,CANCUN,2025-10-27
4,5,42,Yoghurt Griego Yoplait,28.32,1,Walmart,Autoservicio,GDL,2025-09-03
...,...,...,...,...,...,...,...,...,...
1029995,1029996,90,Tortillas Tía Rosa,25.64,7,La Comer,Premium,GDL,2025-09-30
1029996,1029997,100,Detergente Ariel 1kg,179.65,3,Bodega Aurrera,Descuento,GDL,2025-10-28
1029997,1029998,42,Yoghurt Griego Yoplait,32.12,9,Tienda 3B,Descuento,GUADALAJARA,2025-03-30
1029998,1029999,26,Crema Alpura,39.91,6,City Market,Premium,GDL,2025-10-30
1029999,1030000,2,Pepsi 600ml,16.68,7,La Comer,Premium,puebla,2025-12-10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030000 entries, 0 to 1029999
Data columns (total 9 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id_transaccion    1030000 non-null  int64
 1   id_producto       1030000 non-null  object
 2   nombre_producto   1013293 non-null  object
 3   precio            1013461 non-null  object
 4   id_tienda         1030000 non-null  object
 5   nombre_tienda     1030000 non-null  object
 6   categoria_tienda  1030000 non-null  object
 7   ciudad            1013246 non-null  object
 8   fecha             1030000 non-null  object
dtypes: int64(1), object(8)
memory usage: 70.7+ MB

In [5]:
print(df.dtypes)

id_transaccion       int64
id_producto         object
nombre_producto     object
precio              object
id_tienda           object
nombre_tienda       object
categoria_tienda    object
ciudad              object
fecha               object
dtype: object